@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #6b708d;
    background-color: #f2f4fc;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100%;
}

body a {
    text-decoration: none;
}

.margin-top {
    margin-top: 100px;
}

/* HEADER */

header {
    margin: 0;
}

header li {
    list-style: none;
}

header a {
    font-size: 16px;
    text-decoration: none;
    color: #6b708d;
    font-weight: 500;
}
.nav-menu li:first-child a {
    color: #0082f3;
}
.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 50px auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.nav-link {
    transition: 0.7s ease;
}
.nav-link:hover {
    color: #292e47;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #292e47;
}
.contact-button,
.getintosuh-btn {
    color: #ffff;
    background-color: #072ac8;
    padding: 15px 30px;
}

.contact-button:hover,
.getintosuh-btn:hover {
background-color: #292e47;
}

/* HERO SECTION */
#conthero {
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    margin: 80px auto 0 auto;
    
}
.heroimg {
    max-width: 500px;
    float: right;
}
.card1 {
    position: absolute;
    left: -20%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-width: 60%;
}
.card2 {
    position: absolute;
    left: auto;
    top: auto;
    right: -25%;
    bottom: -20%;
    max-width: 60%;
}
#img-hero {
    width: 500px;
    position: relative;
    max-width: 100%;
}

#hero-text {
    display: flex;
    flex-direction: column;
}

#hero-text h1 {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 60PX;
    font-weight: 500;
    color: #292e47;
    width: 85%;
    padding: 0;
}

#hero-text p {
    font-size: 20px;
    line-height: 30px;
    max-width: 80%;
    margin-bottom: 30px;
}

#hero-text .seeour {
    padding-right: 20px;
    color: #6b708d;
}
#hero-text a {
    padding-right: 20px;
}

.button-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

/* EMPRESAS LOGO SECTION */

#logos-container {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 80px auto 0 auto;
}
.logo-img {
    width: 110px;
}

/* RECENT PROJECTS SECTION */

#recentProjects {
    margin: 80PX auto 0 auto;
    max-width: 90%;
}
#recentProjects h2 {
    font-size: 30PX;
    color: #292e47;
    margin-bottom: 40px;
}

.grid-recentProjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
}

.cards-recentProjects {
    width: 100%;
    max-width: 340px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-gap: 50px;
}

.img-recentProjects {
    height: 200px;
    width: 100%;
    max-width: 340px;
    object-fit: cover;
}

.cards-recentProjects h4 {
    font-size: 20px;
    color: #292e47;
    font-weight: 500;
    margin: 15px 25px;
}

.cards-recentProjects p {
    color: #292e47;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 25px;

}

.cards-recentProjects a {
    font-size: 16px;
    margin: 40px 25px;
    display: inline-block;
}

/* clientes/kristin SECTION */

#clients {
    height: 620px;
    background-color: #292e47;
    background-image: url("/project-assets/testimonial-section/orbit.png");
    background-size: contain;
    margin: 80px auto 0 auto;
    position: relative;
    max-width: 95%;
}

#clients-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 620px;
}

.title-clients {
    font-size: 35px;
    color: #ecf7ff;
}

.text-clients {
    color: #ffc600;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    line-height: 35px;
}

.kris-img-section {
    display: flex;
    align-items: center;
}

.kris-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.kris-info h4 {
    color: #a2d6f9;
    font-size: 16px;
    text-align: center;
    margin: 0;
    font-weight: 400;
}
.kris-info span {
    color: white;
    font-size: 16px;
}

/* EMOJIS SECTION */
.emoji {
    width: 10vw;
}
.top-left {
    position: absolute;
    top: 8%;
    left: 8%;
}
.top-right {
    position: absolute;
    top: 8%;
    right: 8%;
}
.bottom-right {
    position: absolute;
    bottom: 8%;
    right: 8%;
}
.bottom-left {
    position: absolute;
    bottom: 8%;
    left: 8%;
}

/* OUR SERVICES SECTION */

#ourservices {
    margin: 80px auto 0 auto;
    width: 90vw;
}

#ourservices h2 {
    font-size: 30px;
    color: #292e47;
    margin-bottom: 70px;
}
.grid-cardsService {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

.cardsService {
    width: 80%;
    max-width: 340px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}
.cardsService h4 {
    font-size: 20px;
    color: #292e47;
    font-weight: 500;
    margin: 20px 0;
}

.cardsService p {
    color: #292e47;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.cardsService a {
    font-size: 20px;
    display: inline-block;
}
.img-service {
    background-color: #ecf7ff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("/imagenes/services-section/icons/1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.img2 {
    background-image: url("/imagenes/services-section/icons/2.svg");
}
.img3 {
    background-image: url("/imagenes/services-section/icons/3.svg");
}

/* YELLOW SECTION */

#yellow {
    height: 450px;
    background-color: #ffc600;
    margin: 80px auto 0 auto;
    width: 95%;

}
.yellow-content {
    height: 450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

.yellow-content h2 {
    margin-bottom: 20px;
    color: #292e47;
    font-size: 40px;
}
.yellow-content p {
    font-size: 17px;
    color: #6b708d;
    margin-bottom: 20px;
}

/*FORM EMAIL*/
.emailform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

#yellowsubscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.subscribe-text {
    background-color: white;
    display: flex;
    width: 240px;
    padding: 10px 0;
}

.subscribe-text img {
    width: 40px;
    padding: 0px 10px;
}

.subscribe-text input {
    border: none;
    align-items: center;
}

.subscribe-button {
    color: #ffff;
    background-color: #072ac8;
    border: none;
    padding: 12px 30px;
    margin-left: 20px;
}

.subscribe-button:hover {
    background-color: #292e47;
}

.f-form{
    background-color: #ffdede;
    display: none;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
}

.ok-form {
    background-color: #dddddd;
    display: none;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
}

/* last section footer */

.lastsection {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 80px auto 80px auto;
}

.lastlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lastcontent p,
a {
    font-size: 16px;
    margin-top: 20px;
}

/* CONTACT US FORMULARIO */

#contactus-section {
    width: 90%;
    margin: 5rem auto 0 auto;

}

#contactus-section h1 {
    font-size: 48px;
    font-weight: 500;
    color: #292e47;
    width: 100%;
    padding: 0;
}
.contact-section {
    display: flex;
    flex-direction: column;
}

/* grid del formulario */
.grid-formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    max-width: 100%;
}

/* cajas del formulario */
.boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* titulo de las cajitas de enter */
.boxes-titles {
        font-size: 1.5rem;
        color: #6b708d;
        padding: 20px 0 10px 0;
}

/* cajitas que se rellenan */
.enter-input {
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
    width: auto;
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
}


.enter-input.entertext {
    height: 150px;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
}

/* ultimo boton */
.submit-button {
    font-size: 20px;
    color: #ffff;
    background-color: #072ac8;
    border: none;
    padding: 25px 30px;
    margin-top: 20px;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #292e47;
}

/* PROJECTOS */

#all-the-projects {
    margin: 80px auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.simplify-title {
    font-size: 50px;
    font-weight: 500;
    color: #292e47;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

.projectcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.Simplify-subtitle {
    font-size: 30px;
    font-weight: 500;
}
.simplify-completed-on {
    display: flex;
    font-size: 30px;
    color: black;
}
.simplify-completed-on p {
    padding-left: 5px;
}

.simplify-image {
    max-width: 100%;
    width: 100%;
    height: 444px;
    object-fit: cover;
    margin: 50px auto;
    border: 0;
}

.simplify-content-text p {
    font-size: 24px;
    line-height: 35px;
}

@media (max-width: 480px) {
    * {
        font-size: 8px;
    }
    .button-hero {
        flex-direction: column-reverse;
    }
    #conthero {
        margin-top: 0;
    }
    #conthero h1 {
        margin-top: 0;
    }

    .heroimg {

        max-width: 350px;
        float: none;
    }

    /* CLIENTS */

    .title-clients {
        width: 350px;
    }
    .text-clients {
        width: 350px;
    }


    #all-the-projects {
        margin-top: 20px;
    }
    #all-the-projects h1 {
        margin: 0;
    }
    .projectcontent {
        flex-direction: column;
    }
}

@media (max-width: 759px) {
    #conthero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 50px;
    }
    #conthero h1 {
        margin-top: 0;
    }

    .button-hero {
        flex-direction: row-reverse;
    }

    #hero-text {
        width: auto;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    #img-hero {
        max-width: 450px;
    }

    .card {
        display: none;
    }

    /* logos de empresas */

    #logos-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        grid-row-gap: 50px;
        margin-top: 50px;
    }
    #logos-container.grid-logos img:last-child {
        display: none;
    }
    /* Projects  */
    #recentProjects h2 {
        text-align: center;
    }
    .grid-recentProjects {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .cards-recentProjects {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .img-recentProjects {
        width: 100%;
        object-fit: cover;
        max-width: 100%;
    }

    /* CLIENTS */

    .emoji {
        display: none;
    }

    #clients {
        height: 420px;
        margin: 50px auto 0 auto;
        max-width: 100%;
    }

    #clients-content {
        height: 420px;
    }

    .title-clients {
        max-width: 400px;
        text-align: center;
    }

    /* Services  */
    #ourservices {
        margin-top: 50px;
    }

    #ourservices h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    .grid-cardsService {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .cardsService {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        padding: 25px;
    }

    /* YELLOW  */
    #yellow {
        width: 100%;
        margin-top: 50px;
    }
    #yellowsubscribe {
        flex-direction: column;
    }
    .subscribe-text {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
        justify-content: center;
    }
    .subscribe-button {
        width: 100%;
    }

    /* Footer  */

    .lastsection {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .lastcontent {
        text-align: center;
    }

    /* grid del formulario  */

    .grid-formulario {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

@media screen and (min-width: 760px) and (max-width: 990px) {

    /* Heros  */
    #conthero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 20px;
    }
    .button-hero {
        flex-direction: row-reverse;
    }
    #hero-text h1 {
      /* font-size: 2.5rem; */
    }
    #hero-text {
        width: auto;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    #img-hero {
        width: auto;
    }


    /* LOGOS DE EMPRESAS */

    #logos-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        grid-row-gap: 50px;
        margin-top: 100px;
    }
    #logos-container img:last-child {
        display: none;
    }

    /* Projects  */

    .grid-recentProjects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    /* CLIENTS */

    .title-clients {
        max-width: 400px;
        text-align: center;
        line-height: 50px;
    }
    #clients {
        height: 500px;
        margin-top: 50px;
    }
    #clients-content {
        height: 500px;
    }

    /* Services  */
    #ourservices {
        margin-top: 50px;
    }
    #ourservices h2 {
        margin-bottom: 40px;
    }
}

/* --------------HAMBURGER--------------  */

@media screen and (max-width: 991px) {
    /* NAVBAR  */
    .contact-button {
        display: none;
    }
    .hamburger {
        display: block;
        float: right;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: relative;
        left: -150%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #c8c8c8;
        width: 90%;
        text-align: center;
        transition: transform 400ms ease 0s;
        margin-bottom: 20px;
        min-width: 200px;
        transform: translateY(0px) translateX(0px);
    }

    .nav-item {
        margin: 20px 0;
    }
    .nav-menu.active {
        left: 0;
    }
    .navbar {
        margin: 20px auto;
    }
}